---
http_interactions:
- request:
    method: get
    uri: https://novaexchange.com/remote/v2/market/info/BTC_DOGE/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "message": "Info for market: BTC_DOGE", "markets":
        [{"bid": "0.00000026", "last_price": "0.00000027", "volume24h": "17.228",
        "marketid": 159, "disabled": 1, "currency": "DOGE", "marketname": "BTC_DOGE",
        "ask": "0.00000027", "low24h": "0.00000025", "change24h": "3.7", "high24h":
        "0.00000029", "basecurrency": "BTC"}]}'
  recorded_at: Sat, 30 Sep 2017 17:25:43 GMT
recorded_with: VCR 3.0.3
