---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/BTC_USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-108307995-108308002 NNNN CT(0 0 0) RT(1506792272856 42) q(0 1 1 4) r(2
        2) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":null,"Data":{"TradePairId":4909,"Label":"BTC/USDT","AskPrice":4389.61282000,"BidPrice":4303.00000000,"Low":4140.00000001,"High":4392.92813827,"Volume":3.47069301,"LastPrice":4392.92813827,"BuyVolume":21035280.13092759,"SellVolume":3.69023288,"Change":6.11,"Open":4140.05500003,"Close":4392.92813827,"BaseVolume":14769.99495401,"BuyBaseVolume":58002.86239424,"SellBaseVolume":176087.97519510},"Error":null}'
  recorded_at: Sat, 30 Sep 2017 17:24:33 GMT
recorded_with: VCR 3.0.3
