---
http_interactions:
- request:
    method: get
    uri: https://www.mercadobitcoin.net/api/BTC/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"68d37d1b"'
      Content-Type:
      - application/json
      X-Iinfo:
      - 7-91625431-91622356 2CNN RT(1506792310319 32) q(0 0 0 0) r(0 0)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"ticker": {"high": "14199.00000000", "low": "13750.00000000", "vol":
        "149.32760035", "last": "14197.99999000", "buy": "14197.99999000", "sell":
        "14198.00000000", "date": 1506789896}}'
  recorded_at: Sat, 30 Sep 2017 17:25:10 GMT
recorded_with: VCR 3.0.3
