---
http_interactions:
- request:
    method: get
    uri: https://szzc.com/api/public/ticker/BTCCNY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"101-OQ/+m6EPagzApmjdEBHB+ernD5U"
    body:
      encoding: UTF-8
      string: '{"status":{"success":1,"message":null},"result":{"market":"BTCCNY","date":1506792349960,"sell":2500000000000,"buy":114000000000,"high":0,"high24h":2500000000000,"low":0,"low24h":2500000000000,"last":2500000000000,"last24h":2500000000000,"vol":0,"vol24h":0}}'
  recorded_at: Sat, 30 Sep 2017 17:25:54 GMT
recorded_with: VCR 3.0.3
