---
http_interactions:
- request:
    method: get
    uri: https://novaexchange.com/remote/v2/market/info/BTC_PPC/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "message": "Info for market: BTC_PPC", "markets":
        [{"bid": "0.00030191", "last_price": "0.00034311", "volume24h": "0.001", "marketid":
        181, "disabled": 1, "currency": "PPC", "marketname": "BTC_PPC", "ask": "0.00034311",
        "low24h": "0.00030107", "change24h": "10.3", "high24h": "0.00034311", "basecurrency":
        "BTC"}]}'
  recorded_at: Sat, 30 Sep 2017 17:25:42 GMT
recorded_with: VCR 3.0.3
