---
http_interactions:
- request:
    method: get
    uri: https://novaexchange.com/remote/v2/markets/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "message": "Markets listed at Novaexchange",
        "markets": [{"bid": "0.00000000", "last_price": "0.00000001", "volume24h":
        "0.000", "marketid": 8767, "disabled": 1, "currency": "PAC", "marketname":
        "BTC_PAC", "ask": "0.00000001", "low24h": "0.00000001", "change24h": "0.0",
        "high24h": "0.00000001", "basecurrency": "BTC"}, {"bid": "0.00000013", "last_price":
        "0.00000014", "volume24h": "0.000", "marketid": 8839, "disabled": 1, "currency":
        "FLT", "marketname": "BTC_FLT", "ask": "0.00000016", "low24h": "0.00000014",
        "change24h": "0.0", "high24h": "0.00000014", "basecurrency": "BTC"}, {"bid":
        "0.00000375", "last_price": "0.00000420", "volume24h": "0.000", "marketid":
        9177, "disabled": 1, "currency": "700", "marketname": "BTC_700", "ask": "0.00000800",
        "low24h": [...]
