---
http_interactions:
- request:
    method: get
    uri: https://api.gemini.com/v1/pubticker/BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"bid":"4299.81","ask":"4299.82","volume":{"BTC":"3136.961969181","USD":"13306043.985725319218","timestamp":1506792000000},"last":"4299.82"}'
  recorded_at: Sat, 30 Sep 2017 17:24:42 GMT
recorded_with: VCR 3.0.3
