---
http_interactions:
- request:
    method: get
    uri: https://api.gemini.com/v1/book/BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"bids":[{"price":"4299.81","amount":"16.57911602","timestamp":"1506792283"},{"price":"4299.80","amount":"16.36008","timestamp":"1506792283"},{"price":"4298.40","amount":"2.8911","timestamp":"1506792283"},{"price":"4296.54","amount":"0.0057","timestamp":"1506792283"},{"price":"4296.05","amount":"3.19","timestamp":"1506792283"},{"price":"4296.04","amount":"3.2","timestamp":"1506792283"},{"price":"4295.18","amount":"5","timestamp":"1506792283"},{"price":"4293.97","amount":"3","timestamp":"1506792283"},{"price":"4293.84","amount":"0.686","timestamp":"150679228[...]
