---
http_interactions:
- request:
    method: get
    uri: https://api.mybitx.com/api/1/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 30 Sep 2017 17:25:09 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        {"tickers":[{"timestamp":1506792309095,"bid":"17898.00","ask":"17899.00","last_trade":"17899.00","rolling_24_hour_volume":"150.263144","pair":"XBTMYR"},{"timestamp":1506792309097,"bid":"1499999.00","ask":"1500000.00","last_trade":"1500000.00","rolling_24_hour_volume":"38.148428","pair":"XBTNGN"},{"timestamp":1506792309098,"bid":"59799.00","ask":"59800.00","last_trade":"59799.00","rolling_24_hour_volume":"238.044882","pair":"XBTZAR"},{"timestamp":1506792309100,"bid":"57925000.00","ask":"57927000.00","last_trade":"57926000.00","rolling_24_hour_volume":"6.088269","pair":"XBTIDR"}]}
  recorded_at: Sat, 30 Sep 2017 17:25:09 GMT
recorded_with: VCR 3.0.3
