---
http_interactions:
- request:
    method: get
    uri: https://api.tidex.com/api/3/ticker/ltc_btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ltc_btc":{"high":0.0130161,"low":0.01262353,"avg":0.012819815,"vol":251.5554780047490833,"vol_cur":19668.43450147,"last":0.0126987,"buy":0.01266933,"sell":0.01271611,"updated":1506792355}}'
  recorded_at: Sat, 30 Sep 2017 17:25:56 GMT
recorded_with: VCR 3.0.3
