---
http_interactions:
- request:
    method: get
    uri: https://api.tidex.com/api/3/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"server_time":1506792351,"pairs":{"ltc_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"eth_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"dash_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"doge_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"bts_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.01},"waves_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"wct_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.01,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"ltc_waves":{"decimal_places":4,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eth_waves":{"decimal_places":4,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"dash_waves":{"decimal_places":4,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"doge_waves":{"decimal_places":4,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bts_waves":{"decimal_places":4,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"wct_waves":{"decimal_places":4,"min_price":0.0001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"steem_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"steem_waves":{"decimal_places":4,"min_price":0.001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wbtc_btc":{"decimal_places":4,"min_price":0.1,"max_price":10.0,"min_amount":0.0001,"max_amount":100000.0,"min_total":0.0001,"hidden":1,"fee":0.01},"incnt_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"incnt_waves":{"decimal_places":4,"min_price":0.01,"max_price":100.0,"min_amount":0.0001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"b@_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":0.0001,"hidden":1,"fee":0.01},"b@_waves":{"decimal_places":8,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"mrt_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"mrt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":100.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mer_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.01,"max_amount":5000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"mer_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.01,"max_amount":5000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"tks_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.01,"max_amount":5000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"tks_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":5000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"aqua_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":100.0,"min_amount":0.0000001,"max_amount":50.0,"min_total":0.0001,"hidden":1,"fee":0.01},"rbx_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":1.0,"max_amount":50000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"aqua_waves":{"decimal_places":8,"min_price":0.001,"max_price":100000.0,"min_amount":0.0000001,"max_amount":50.0,"min_total":1.0,"hidden":1,"fee":0.01},"rbx_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":1.0,"max_amount":50000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"btc_wusd":{"decimal_places":8,"min_price":10.0,"max_price":10000.0,"min_amount":0.0001,"max_amount":10000.0,"min_total":1.0,"hidden":0,"fee":0.01},"btc_weur":{"decimal_places":8,"min_price":10.0,"max_price":10000.0,"min_amount":0.0001,"max_amount":10000.0,"min_total":1.0,"hidden":0,"fee":0.01},"ltc_wusd":{"decimal_places":8,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"ltc_weur":{"decimal_places":8,"min_price":0.01,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eth_wusd":{"decimal_places":8,"min_price":0.1,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eth_weur":{"decimal_places":8,"min_price":0.1,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"dash_wusd":{"decimal_places":8,"min_price":0.1,"max_price":1000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"dash_weur":{"decimal_places":8,"min_price":0.1,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"waves_wusd":{"decimal_places":8,"min_price":0.01,"max_price":100.0,"min_amount":0.01,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"waves_weur":{"decimal_places":8,"min_price":0.01,"max_price":100.0,"min_amount":0.01,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wgo_btc":{"decimal_places":8,"min_price":0.00000001,"max_price":1.0,"min_amount":0.00001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"wgo_waves":{"decimal_places":8,"min_price":0.000001,"max_price":1000.0,"min_amount":0.00001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"gnt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"edg_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"rlc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"gnt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"edg_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"rlc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"gnt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"edg_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"rlc_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"gnt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"edg_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"rlc_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"icn_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"icn_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"icn_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"icn_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wings_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"wings_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wings_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wings_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"vsl_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.01},"vsl_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"vsl_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"vsl_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"time_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"time_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"time_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"time_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"taas_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.01},"taas_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"taas_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"taas_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"kolion_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"kolion_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"kolion_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"kolion_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"riddle_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":1,"fee":0.01},"riddle_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"riddle_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"riddle_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":1,"fee":0.01},"ant_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"ant_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"ant_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"ant_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"efyt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"efyt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"efyt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"efyt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mgo_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"mgo_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mgo_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mgo_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wett_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"wett_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wett_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wett_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eett_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"eett_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eett_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eett_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"qrl_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"qrl_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"qrl_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"qrl_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"emgo_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"emgo_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"emgo_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"emgo_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bnt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"bnt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bnt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bnt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"snm_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"snm_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"zrc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"zrc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"snt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"snt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mco_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"mco_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"storj_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"storj_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eos_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"eos_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wgr_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"wgr_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"sta_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"sta_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"pbt_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":10.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"pbt_waves":{"decimal_places":8,"min_price":0.0001,"max_price":30000.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":1.0,"hidden":0,"fee":0.01},"pbt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":30000.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":1.0,"hidden":0,"fee":0.01},"pbt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":30000.0,"min_amount":0.0001,"max_amount":2000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bch_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":10.0,"min_amount":0.001,"max_amount":100000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"bch_waves":{"decimal_places":8,"min_price":0.0001,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bch_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bch_weur":{"decimal_places":8,"min_price":0.0001,"max_price":10000.0,"min_amount":0.001,"max_amount":100000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wct_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wct_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.0001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"sta_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"sta_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mrt_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":100.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mrt_weur":{"decimal_places":8,"min_price":0.0001,"max_price":100.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"zrc_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"zrc_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":10000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"wsur_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"wsur_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"sur_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"sur_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"msp_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"msp_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"msp_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"msp_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"inpay_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"inpay_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mtl_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"mtl_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"aht_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"aht_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"ping_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"ping_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"eot_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"eot_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"ae_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"ae_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"pix_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"pix_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"credo_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"credo_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"life_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":100000.0,"max_amount":100000000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"life_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":100000.0,"max_amount":100000000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mth_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"mth_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mth_wusd":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"mth_weur":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"bmc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"bmc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"trct_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"trct_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01},"knc_btc":{"decimal_places":8,"min_price":0.0000001,"max_price":1.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":0.0001,"hidden":0,"fee":0.01},"knc_waves":{"decimal_places":8,"min_price":0.0001,"max_price":1000.0,"min_amount":0.001,"max_amount":1000000.0,"min_total":1.0,"hidden":0,"fee":0.01}}}'
  recorded_at: Sat, 30 Sep 2017 17:25:55 GMT
recorded_with: VCR 3.0.3
