---
http_interactions:
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getmarketsummary?market=BTC-LTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 30 Sep 2017 17:24:10 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-LTC","High":0.01296498,"Low":0.01265169,"Volume":63426.86553204,"Last":0.01282698,"BaseVolume":809.57856406,"TimeStamp":"2017-09-30T17:23:28.89","Bid":0.01282250,"Ask":0.01282698,"OpenBuyOrders":2864,"OpenSellOrders":11245,"PrevDay":0.01278132,"Created":"2014-02-13T00:00:00"}]}'
  recorded_at: Sat, 30 Sep 2017 17:24:11 GMT
recorded_with: VCR 3.0.3
