---
http_interactions:
- request:
    method: get
    uri: https://vip.bitcoin.co.id/api/btc_idr/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      V:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":{"high":"58000000","low":"55600100","vol_btc":"443.47862918","vol_idr":"25284893726","last":"57670700","buy":"57670700","sell":"57670800","server_time":1506792238}}'
  recorded_at: Sat, 30 Sep 2017 17:23:58 GMT
recorded_with: VCR 3.0.3
