---
http_interactions:
- request:
    method: get
    uri: https://spotusd-data.btcc.com/data/pro/ticker?symbol=BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":{"BidPrice":4273,"AskPrice":4332,"Open":4335.69,"High":4375,"Low":4165.01,"Last":4332,"LastQuantity":0.245,"PrevCls":4298,"Volume":10.9588,"Volume24H":12.7351,"Timestamp":1506792250175,"ExecutionLimitDown":3665.55,"ExecutionLimitUp":4959.27}}'
  recorded_at: Sat, 30 Sep 2017 17:24:12 GMT
recorded_with: VCR 3.0.3
