---
http_interactions:
- request:
    method: get
    uri: https://coincheck.com/api/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3d4b7de4cba893d83674f50336ef6202"
    body:
      encoding: UTF-8
      string: '{"last":483386.0,"bid":483373.0,"ask":483396.0,"high":487777.0,"low":461290.0,"volume":33372.78750442,"timestamp":1506792264}'
  recorded_at: Sat, 30 Sep 2017 17:24:29 GMT
recorded_with: VCR 3.0.3
