---
http_interactions:
- request:
    method: get
    uri: https://api-dev.bitso.com/v3/ticker?book=BTC_MXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"payload":{"high":"78479.99","last":"77600.06","created_at":"2017-09-30T17:24:08+00:00","book":"btc_mxn","volume":"26.33060331","vwap":"76469.12835344","low":"76100.62","ask":"77999.58","bid":"77507.03"}}'
  recorded_at: Sat, 30 Sep 2017 17:24:08 GMT
recorded_with: VCR 3.0.3
