---
http_interactions:
- request:
    method: get
    uri: https://api.etherdelta.com/returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"GdUQxPhiaacWsgpkLi7x0Q=="
    body:
      encoding: UTF-8
      string: '{"ETH_LINK":{"tokenAddr":"0x514910771af9ca656af840dff83e8264ecf986ca","quoteVolume":4490119.02,"baseVolume":5051.883,"last":0.001357852,"percentChange":0.5087,"bid":0.001390001,"ask":0.001388},"ETH_SALT":{"tokenAddr":"0x4156d3342d5c385a87d264f90653733592000581","quoteVolume":201607.542,"baseVolume":3062.056,"last":0.017362622,"percentChange":-0.1319,"bid":0.0178,"ask":0.017999},"ETH_CTR":{"tokenAddr":"0x96a65609a7b84e8842732deb08f56c3e21ac6f8a","quoteVolume":358553.428,"baseVolume":1719.338,"last":0.004292562,"percentChange":-0.0288,"bid":0.004380049,"ask":0.004349},"ETH_KIN":{"tokenAddr":"0x818fc6c2ec5986bc6e2cbf00939d90556ab12ce5","quoteVolume":2238728056.439,"baseVolume":690.59,"last":3.01e-7,"percentChange":-0.1372,"bid":3.01e-7,"ask":3.11e-7},"ETH_VERI":{"tokenAddr":"0x8f3470a7388c05ee4e7af3d01d8c722b0ff52374","quoteVolume":2361.908,"baseVolume":591.921,"last":0.252279126,"percentChange":0.0091,"bid":0.2525,"ask":0.24},"ETH_KNC":{"tokenAddr":"0xdd974d5c2e2928dea5f71b9825b8b646686bd200","quoteVolume":80105.183,"baseVolume":476.815,"last":0.005903088,"percentChange":-0.0323,"bid":0.00596,"ask":0.005948},"ETH_PPT":{"tokenAddr":"0xd4fa1460f537bb9085d22c7bccb5dd450ef28e3a","quoteVolume":55303.945,"baseVolume":429.951,"last":0.007929377,"percentChange":-0.0208,"bid":0.00779,"ask":0.00777},"ETH_VIBE":{"tokenAddr":"0xe8ff5c9c75deb346acac493c463c8950be03dfba","quoteVolume":1887903.042,"baseVolume":362.695,"last":0.000201087,"percentChange":0.3406,"bid":0.000198,"ask":0.0002},"ETH_MDA":{"tokenAddr":"0x51db5ad35c671a87207d88fc11d593ac0c8415bd","quoteVolume":42035.495,"baseVolume":337.456,"last":0.007493942,"percentChange":0.0032,"bid":0.00771,"ask":0.00771},"ETH_XRL":{"tokenAddr":"0xb24754be79281553dc1adc160ddf5cd9b74361a4","quoteVolume":264133.338,"baseVolume":270.039,"last":0.001080561,"percentChange":0.0194,"bid":0.001075,"ask":0.001085748},"ETH_MTH":{"tokenAddr":"0xaf4dce16da2877f8c9e00544c93b62ac40631f16","quoteVolume":572875.862,"baseVolume":252.546,"last":0.000440158,"percentChange":-0.0218,"bid":0.000437,"ask":0.000441},"ETH_OMG":{"tokenAddr":"0xd26114cd6ee289accf82350c8d8487fedb8a0c07","quoteVolume":6191.63,"baseVolume":207.569,"last":0.0334,"percentChange":-0.0291,"bid":0.03345,"ask":0.033},"ETH_ATM":{"tokenAddr":"0x9b11efcaaa1890f6ee52c6bb7cf8153ac5d74139","quoteVolume":2070904.754,"baseVolume":185.957,"last":0.0000887,"percentChange":0.0126,"bid":0.00009,"ask":0.000090999},"ETH_ADX":{"tokenAddr":"0x4470bb87d77b963a013db939be332f927f2b992e","quoteVolume":48626.133,"baseVolume":169.937,"last":0.003819,"percentChange":0.2902,"bid":0.0038,"ask":0.00388},"ETH_SUB":{"tokenAddr":"0x12480e24eb5bec1a9d4369cab6a80cad3c0a377a","quoteVolume":770216.56,"baseVolume":153.981,"last":0.000235318,"percentChange":0.7431,"bid":0.00024,"ask":0.000228999},"ETH_WTC":{"tokenAddr":"0xb7cb1c96db6b22b0d3d9536e0108d062bd488f74","quoteVolume":8266.072,"baseVolume":151.244,"last":0.018136423,"percentChange":-0.0852,"bid":0.018,"ask":0.01825},"ETH_TNT":{"tokenAddr":"0x08f5a9235b08173b7569f83645d2c7fb55e8ccd8","quoteVolume":476217.814,"baseVolume":144.36,"last":0.00031,"percentChange":0.069,"bid":0.00029,"ask":0.000299},"ETH_PLR":{"tokenAddr":"0xe3818504c1b32bf1557b16c238b2e01fd3149c17","quoteVolume":614894.922,"baseVolume":135.051,"last":0.000226653,"percentChange":-0.0556,"bid":0.000225,"ask":0.00023},"ETH_PIX":{"tokenAddr":"0x8effd494eb698cc399af6231fccd39e08fd20b15","quoteVolume":266692,"baseVolume":92.465,"last":0.00035637,"percentChange":0.1488,"bid":0.0003311,"ask":0.00035},"ETH_ZRX":{"tokenAddr":"0xe41d2489571d322189246dafa5ebde1f4699f498","quoteVolume":129141.448,"baseVolume":92.446,"last":0.000722326,"percentChange":-0.0078,"bid":0.00072,"ask":0.000722},"ETH_MANA":{"tokenAddr":"0x0f5d2fb29fb7d3cfee444a200298f468908cc942","quoteVolume":1832996.929,"baseVolume":91.969,"last":0.000048746,"percentChange":-0.0251,"bid":0.0000507,"ask":0.00005249},"ETH_CAT":{"tokenAddr":"0x56ba2ee7890461f463f7be02aac3099f6d5811a8","quoteVolume":25621.995,"baseVolume":79.839,"last":0.003189,"percentChange":0.0539,"bid":0.003189,"ask":0.003185},"ETH_AVT":{"tokenAddr":"0x0d88ed6e74bbfd96b831231638b66c05571e824f","quoteVolume":8907.211,"baseVolume":77.107,"last":0.00820011,"percentChange":-0.0786,"bid":0.0084,"ask":0.0085},"ETH_EOS":{"tokenAddr":"0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0","quoteVolume":28862.934,"baseVolume":72.852,"last":0.002452587,"percentChange":-0.7547,"bid":0.002391,"ask":0.00247999},"ETH_LRC":{"tokenAddr":"0xef68e7c694f40c8202821edf525de3782458639f","quoteVolume":226607.004,"baseVolume":71.48,"last":0.000329899,"percentChange":0.2034,"bid":0.00032988,"ask":0.00033},"ETH_IXT":{"tokenAddr":"0xfca47962d45adfdfd1ab2d972315db4ce7ccf094","quoteVolume":67984.888,"baseVolume":70.165,"last":0.000985,"percentChange":-0.015,"bid":0.000985,"ask":0.000985},"ETH_TRX":{"tokenAddr":"0xf230b790e05390fc8295f4d3f60332c93bed42e2","quoteVolume":11164023.727,"baseVolume":67.824,"last":0.00000645,"percentChange":0.0157,"bid":0.000006036,"ask":0.000006355},"ETH_COB":{"tokenAddr":"0xb2f7eb1f2c37645be61d73953035360e768d81e6","quoteVolume":354817.08,"baseVolume":59.427,"last":0.000161107,"percentChange":-0.1244,"bid":0.00016,"ask":0.000158999},"ETH_PRO":{"tokenAddr":"0x226bb599a12c826476e3a771454697ea52e9e220","quoteVolume":20068.961,"baseVolume":50.55,"last":0.002167533,"percentChange":-0.0021,"bid":0.00223,"ask":0.0023699},"ETH_POE":{"tokenAddr":"0x0e0989b1f9b8a38983c2ba8053269ca62ec9b195","quoteVolume":1826461.575,"baseVolume":50.44,"last":0.000027977,"percentChange":-0.0008,"bid":0.00002684,"ask":0.000027977},"ETH_ETH":{"tokenAddr":"0x0000000000000000000000000000000000000000","quoteVolume":0.12,"baseVolume":49.747,"last":415,"percentChange":435.8421,"bid":0.970873786,"ask":1.03},"ETH_AE":{"tokenAddr":"0x5ca9a71b1d01849c0a95490cc00559717fcf0d1d","quoteVolume":38822.008,"baseVolume":49.465,"last":0.001260962,"percentChange":-0.0202,"bid":0.001266001,"ask":0.00131},"ETH_COSS":{"tokenAddr":"0x65292eeadf1426cd2df1c4793a3d7519f253913b","quoteVolume":196377.017,"baseVolume":39.167,"last":0.00023,"percentChange":0,"bid":0.000203,"ask":0.0002299},"ETH_BMC":{"tokenAddr":"0xdf6ef343350780bf8c3410bf062e0c015b1dd671","quoteVolume":15331.376,"baseVolume":38.376,"last":0.00254,"percentChange":0.016,"bid":0.002451111,"ask":0.00254},"ETH_DLT":{"tokenAddr":"0x07e3c70653548b04f0a75970c1f81b4cbbfb606f","quoteVolume":60422.826,"baseVolume":38.173,"last":0.000631,"percentChange":-0.0721,"bid":0.000631,"ask":0.000631},"ETH_DAY":{"tokenAddr":"0xe814aee960a85208c3db542c53e7d4a6c8d5f60f","quoteVolume":875.578,"baseVolume":35.148,"last":0.037612346,"percentChange":0.0448,"bid":0.041,"ask":0.04138},"ETH_MBRS":{"tokenAddr":"0x386467f1f3ddbe832448650418311a479eecfc57","quoteVolume":146676,"baseVolume":33.681,"last":0.000160001,"percentChange":-0.322,"bid":0.000164,"ask":0.0002498},"ETH_PAY":{"tokenAddr":"0xb97048628db6b661d4c2aa833e95dbe1a905b280","quoteVolume":3386.385,"baseVolume":29.605,"last":0.008989,"percentChange":0.0365,"bid":0.00865,"ask":0.008988999},"ETH_RVT":{"tokenAddr":"0x3d1ba9be9f66b8ee101911bc36d3fb562eac2244","quoteVolume":15377.613,"baseVolume":28.393,"last":0.0019,"percentChange":0.0056,"bid":0.0018,"ask":0.0018026},"ETH_RHOC":{"tokenAddr":"0x168296bb09e24a88805cb9c33356536b980d3fc5","quoteVolume":28965.151,"baseVolume":26.62,"last":0.000882,"percentChange":-0.0813,"bid":0.00089,"ask":0.00095},"ETH_BTM":{"tokenAddr":"0xcb97e65f07da24d46bcdd078ebebd7c6e6e3d750","quoteVolume":73031.547,"baseVolume":23.625,"last":0.000284037,"percentChange":-0.2736,"bid":0.000278003,"ask":0.0003},"ETH_DICE":{"tokenAddr":"0x2e071d2966aa7d8decb1005885ba1977d6038a65","quoteVolume":2064.655,"baseVolume":23.425,"last":0.012,"percentChange":0.0093,"bid":0.0114,"ask":0.012},"ETH_CDT":{"tokenAddr":"0x177d39ac676ed1c67a2b268ad7f1e58826e5b0af","quoteVolume":162305.778,"baseVolume":23.093,"last":0.000136502,"percentChange":-0.0599,"bid":0.000137099,"ask":0.0001439},"ETH_DENT":{"tokenAddr":"0x3597bfd533a99c9aa083587b074434e61eb0a258","quoteVolume":19163713.238,"baseVolume":21.69,"last":0.00000129,"percentChange":-0.0359,"bid":0.00000129,"ask":0.000001239},"ETH_BQX":{"tokenAddr":"0x5af2be193a6abca9c8817001f45744777db30756","quoteVolume":8434.776,"baseVolume":18.736,"last":0.00256,"percentChange":0.1429,"bid":0.002612,"ask":0.00216},"ETH_FUN":{"tokenAddr":"0x419d0d8bdd9af5e606ae2232ed285aff190e711b","quoteVolume":176249.558,"baseVolume":18.59,"last":0.000112899,"percentChange":0.152,"bid":0.00010201,"ask":0.000111},"ETH_IND":{"tokenAddr":"0xf8e386eda857484f5a12e4b5daa9984e06e73705","quoteVolume":46266.267,"baseVolume":18.473,"last":0.000378683,"percentChange":0.1834,"bid":0.00037,"ask":0.0004},"ETH_BCAP":{"tokenAddr":"0xff3519eeeea3e76f1f699ccce5e23ee0bdda41ac","quoteVolume":4387,"baseVolume":15.083,"last":0.0032,"percentChange":-0.1233,"bid":0.0045,"ask":0.0035},"ETH_DNT":{"tokenAddr":"0x0abdace70d3790235af448c88547603b945604ea","quoteVolume":99895.209,"baseVolume":14.627,"last":0.000153,"percentChange":0.0928,"bid":0.00013891,"ask":0.000153},"ETH_FLIK":{"tokenAddr":"0x17fd666fa0784885fa1afec8ac624d9b7e72b752","quoteVolume":2401799,"baseVolume":14.502,"last":0.000020003,"percentChange":3.0006,"bid":0.000020002,"ask":0.00002},"ETH_VEN":{"tokenAddr":"0xd850942ef8811f2a866692a623011bde52a462c1","quoteVolume":27903.936,"baseVolume":14.208,"last":0.00055,"percentChange":0.1049,"bid":0.000320001,"ask":0.00078888},"ETH_Quiztum":{"tokenAddr":"0x2167bcd8bc794f2c7039c3516cd5d37aac8de7c6","quoteVolume":353.838,"baseVolume":12.645,"last":0.03573787,"percentChange":0,"bid":0,"ask":0.0357},"ETH_MyB":{"tokenAddr":"0x94298f1e0ab2dfad6eeffb1426846a3c29d98090","quoteVolume":1744.79,"baseVolume":12.388,"last":0.0071,"percentChange":0,"bid":0.0071,"ask":0.0084},"ETH_SIFT":{"tokenAddr":"0x8a187d5285d316bcbc9adafc08b51d70a0d8e000","quoteVolume":762,"baseVolume":11.898,"last":0.009500001,"percentChange":-0.3715,"bid":0.00965,"ask":0.0151},"ETH_CSNO":{"tokenAddr":"0x29d75277ac7f0335b2165d0895e8725cbf658d73","quoteVolume":20507.966,"baseVolume":11.687,"last":0.0005625,"percentChange":-0.3758,"bid":0.000570001,"ask":0.000671},"ETH_WILD":{"tokenAddr":"0xd3c00772b24d997a812249ca637a921e81357701","quoteVolume":32666.263,"baseVolume":11.207,"last":0.00033,"percentChange":0.0994,"bid":0.000257001,"ask":0.00033989},"ETH_MCAP":{"tokenAddr":"0x93e682107d1e9defb0b5ee701c71707a4b2e46bc","quoteVolume":1995.989,"baseVolume":10.437,"last":0.0052001,"percentChange":-0.4157,"bid":0.0061,"ask":0.0089},"ETH_TKR":{"tokenAddr":"0xb45a50545beeab73f38f31e5973768c421805e5e","quoteVolume":59990.842,"baseVolume":10.082,"last":0.0001889,"percentChange":0.1211,"bid":0.0001005,"ask":0.000164},"ETH_OAX":{"tokenAddr":"0x701c244b988a513c945973defa05de933b23fe1d","quoteVolume":6689.015,"baseVolume":10.002,"last":0.0016,"percentChange":0.096,"bid":0.0016,"ask":0.0018},"ETH_BNB":{"tokenAddr":"0xb8c77482e45f1f44de1745f52c74426c631bdd52","quoteVolume":2278.975,"baseVolume":9.845,"last":0.004000005,"percentChange":-0.1011,"bid":0.004000005,"ask":0.0044499},"ETH_REX":{"tokenAddr":"0xf05a9382a4c3f29e2784502754293d88b835109c","quoteVolume":11330.048,"baseVolume":9.532,"last":0.000841,"percentChange":0.0133,"bid":0.000841,"ask":0.0009},"ETH_BLX":{"tokenAddr":"0xe5a7c12972f3bbfe70ed29521c8949b8af6a0970","quoteVolume":1721.544,"baseVolume":9.411,"last":0.00545,"percentChange":0.2976,"bid":0.005,"ask":0.00544},"ETH_CVC":{"tokenAddr":"0x41e5560054824ea6b0732e656e3ad64e20e94e45","quoteVolume":6157.562,"baseVolume":9.347,"last":0.00155,"percentChange":0.1071,"bid":0.001499,"ask":0.001499},"ETH_CREDO":{"tokenAddr":"0x4e0603e2a27a30480e5e3a4fe548e29ef12f64be","quoteVolume":114031.911,"baseVolume":9.171,"last":0.0000878,"percentChange":-0.0244,"bid":0.000078,"ask":0.000087},"ETH_SCL":{"tokenAddr":"0xd7631787b4dcc87b1254cfd1e5ce48e96823dee8","quoteVolume":11894.599,"baseVolume":8.704,"last":0.00080001,"percentChange":0,"bid":0.00080001,"ask":0.0011333},"ETH_SONM":{"tokenAddr":"0x983f6d60db79ea8ca4eb9968c6aff8cfa04b3c63","quoteVolume":31003.633,"baseVolume":8.579,"last":0.000286,"percentChange":-0.1173,"bid":0.000286,"ask":0.0003},"ETH_EBET":{"tokenAddr":"0x7d5edcd23daa3fb94317d32ae253ee1af08ba14d","quoteVolume":18008.6,"baseVolume":8.499,"last":0.000528,"percentChange":0.3233,"bid":0.00039,"ask":0.000445879},"ETH_XNN":{"tokenAddr":"0xab95e915c123fded5bdfb6325e35ef5515f1ea69","quoteVolume":16818,"baseVolume":7.662,"last":0.000447,"percentChange":-0.1235,"bid":0.0005,"ask":0.00051},"ETH_OPT":{"tokenAddr":"0x4355fc160f74328f9b383df2ec589bb3dfd82ba0","quoteVolume":69426.782,"baseVolume":7.411,"last":0.000101009,"percentChange":-0.1547,"bid":0.00010102,"ask":0.000101},"ETH_INXT":{"tokenAddr":"0xa8006c4ca56f24d6836727d106349320db7fef82","quoteVolume":6000,"baseVolume":6.625,"last":0.0011,"percentChange":0,"bid":0.00056,"ask":0.0012},"ETH_FUCK":{"tokenAddr":"0xab16e0d25c06cb376259cc18c1de4aca57605589","quoteVolume":79528.466,"baseVolume":6.534,"last":0.00008,"percentChange":-0.0244,"bid":0.000081,"ask":0.000082},"ETH_PTOY":{"tokenAddr":"0x8ae4bf2c33a8e667de34b54938b0ccd03eb8cc06","quoteVolume":3540.321,"baseVolume":5.806,"last":0.00181,"percentChange":0.0226,"bid":0.001402,"ask":0.0016},"ETH_WTT":{"tokenAddr":"0x84119cb33e8f590d75c2d6ea4e6b0741a7494eda","quoteVolume":750,"baseVolume":5.178,"last":0.006899,"percentChange":0,"bid":0.006899,"ask":0.006899},"ETH_0x08d32b0da63e2c3bcf8019c9c5d849d7a9d791e6":{"tokenAddr":"0x08d32b0da63e2c3bcf8019c9c5d849d7a9d791e6","quoteVolume":5797903,"baseVolume":5.139,"last":4.52e-7,"percentChange":-0.548,"bid":0,"ask":0},"ETH_EMV":{"tokenAddr":"0xb802b24e0637c2b87d2e8b7784c055bbe921011a","quoteVolume":1660,"baseVolume":4.97,"last":0.0035,"percentChange":1.5945,"bid":0.00075,"ask":0.001289},"ETH_HVN":{"tokenAddr":"0xc0eb85285d83217cd7c891702bcbc0fc401e2d9d","quoteVolume":55210.537,"baseVolume":4.529,"last":0.000077338,"percentChange":0.0312,"bid":0.000076,"ask":0.000119943},"ETH_HBT":{"tokenAddr":"0xdd6c68bb32462e01705011a4e2ad1a60740f217f","quoteVolume":7427.466,"baseVolume":3.886,"last":0.00048101,"percentChange":-0.1983,"bid":0.00049,"ask":0.00065},"ETH_MGO":{"tokenAddr":"0x40395044ac3c0c57051906da938b54bd6557f212","quoteVolume":1994.018,"baseVolume":3.311,"last":0.00160001,"percentChange":-0.3043,"bid":0.00160001,"ask":0.0023},"ETH_BITS":{"tokenAddr":"0xb72627650f1149ea5e54834b2f468e5d430e67bf","quoteVolume":30001,"baseVolume":3.061,"last":0.0001006,"percentChange":0.0055,"bid":0.0000025,"ask":0.0002},"ETH_MCO":{"tokenAddr":"0xb63b606ac810a52cca15e44bb630fd42d8d1d83d","quoteVolume":22.985,"baseVolume":2.66,"last":100,"percentChange":3569.1408,"bid":0.027,"ask":0.029799899},"ETH_ELIX":{"tokenAddr":"0xc8c6a31a4a806d3710a7b38b7b296d2fabccdba8","quoteVolume":11959.732,"baseVolume":2.647,"last":0.0002345,"percentChange":-0.0017,"bid":0.00015,"ask":0.00023445},"ETH_CFI":{"tokenAddr":"0x12fef5e57bf45873cd9b62e9dbd7bfb99e32d73e","quoteVolume":5718.562,"baseVolume":2.459,"last":0.0005,"percentChange":0.1534,"bid":0.000433311,"ask":0.0005},"ETH_EDG":{"tokenAddr":"0x08711d3b02c8758f2fb3ab4e80228418a7f8e39c","quoteVolume":780,"baseVolume":2.451,"last":0.00295,"percentChange":-0.1571,"bid":0.004,"ask":0.004},"ETH_SKIN":{"tokenAddr":"0x2bdc0d42996017fce214b21607a515da41a9e0c5","quoteVolume":39506.74,"baseVolume":2.216,"last":0.000047771,"percentChange":-0.0465,"bid":0.000051,"ask":0.000064},"ETH_TFL":{"tokenAddr":"0xa7f976c360ebbed4465c2855684d1aae5271efa9","quoteVolume":1088.164,"baseVolume":2.156,"last":0.001888888,"percentChange":0.0063,"bid":0.001889,"ask":0.0022136},"ETH_IFT":{"tokenAddr":"0x7654915a1b82d6d2d0afc37c52af556ea8983c7e","quoteVolume":9111.278,"baseVolume":1.687,"last":0.000197097,"percentChange":0.0641,"bid":0.00019,"ask":0.00019},"ETH_GXC":{"tokenAddr":"0x58ca3065c0f24c7c96aee8d6056b5b5decf9c2f8","quoteVolume":3076.923,"baseVolume":1.538,"last":0.0005,"percentChange":-0.4737,"bid":0.00095,"ask":0.00095},"ETH_STX":{"tokenAddr":"0x006bea43baa3f7a6f765f14f10a1a1b08334ef45","quoteVolume":689.745,"baseVolume":1.477,"last":0.00238,"percentChange":-0.0083,"bid":0.00206,"ask":0.00239},"ETH_MCI":{"tokenAddr":"0x138a8752093f4f9a79aaedf48d4b9248fab93c9c","quoteVolume":3512.865,"baseVolume":1.476,"last":0.00042,"percentChange":-0.2075,"bid":0.00022,"ask":0.00053},"ETH_FC":{"tokenAddr":"0xe6923e9b56db1eed1c9f430ea761da7565e260fe","quoteVolume":11896.21,"baseVolume":1.382,"last":0.000115,"percentChange":-0.0417,"bid":0.000107001,"ask":0.000126},"ETH_CCT":{"tokenAddr":"0x336f646f87d9f6bc6ed42dd46e8b3fd9dbd15c22","quoteVolume":200.551,"baseVolume":1.372,"last":0.00895,"percentChange":0.2786,"bid":0.00666,"ask":0.0087999},"ETH_POS":{"tokenAddr":"0xee609fe292128cad03b786dbb9bc2634ccdbe7fc","quoteVolume":323.327,"baseVolume":1.336,"last":0.004,"percentChange":0.173,"bid":0.004000001,"ask":0.004},"ETH_STORJ":{"tokenAddr":"0xb64ef51c888972c908cfacf59b47c1afbc0ab8ac","quoteVolume":884.092,"baseVolume":1.335,"last":0.00151,"percentChange":-0.1371,"bid":0.00175,"ask":0.001854999},"ETH_ARENA":{"tokenAddr":"0xf9c9da0c81fffd491458881410903561d1e40fd0","quoteVolume":133744.335,"baseVolume":1.21,"last":0.0000044,"percentChange":-0.6535,"bid":0.000001128,"ask":0.0000059},"ETH_LNK":{"tokenAddr":"0xe2e6d4be086c6938b53b22144855eef674281639","quoteVolume":8.238,"baseVolume":1.205,"last":0.13741879,"percentChange":-0.0619,"bid":0.084,"ask":0.13741879},"ETH_ICE":{"tokenAddr":"0x5a84969bb663fb64f6d015dcf9f622aedc796750","quoteVolume":1417.698,"baseVolume":1.073,"last":0.00082,"percentChange":0.0933,"bid":0.00082,"ask":0.001398},"ETH_CNX":{"tokenAddr":"0x94d6b4fb35fb08cb34aa716ab40049ec88002079","quoteVolume":6464.044,"baseVolume":1.03,"last":0.000101,"percentChange":-0.3267,"bid":0.0003999,"ask":0.000388},"ETH_VOISE":{"tokenAddr":"0x83eea00d838f92dec4d1475697b9f4d3537b56e3","quoteVolume":100000,"baseVolume":1,"last":0.00001,"percentChange":-0.6774,"bid":0.000011143,"ask":0.000021},"ETH_MYST":{"tokenAddr":"0xa645264c5603e96c3b0b078cdab68733794b0a71","quoteVolume":265.608,"baseVolume":0.97,"last":0.004999,"percentChange":0.7786,"bid":0.003,"ask":0.004999},"ETH_PLU":{"tokenAddr":"0xd8912c10681d8b21fd3742244f44658dba12264e","quoteVolume":23.753,"baseVolume":0.886,"last":0.0398,"percentChange":0.1371,"bid":0.02610001,"ask":0.07},"ETH_FAP":{"tokenAddr":"0x6467882316dc6e206feef05fba6deaa69277f155","quoteVolume":28529.075,"baseVolume":0.814,"last":0.000045,"percentChange":0.7308,"bid":0.0000262,"ask":0.000045},"ETH_BAT":{"tokenAddr":"0x0d8775f648430679a709e98d2b0cb6250d2887ef","quoteVolume":772.079,"baseVolume":0.642,"last":0.00081,"percentChange":-0.0414,"bid":0.00082,"ask":0.0008445},"ETH_ANT":{"tokenAddr":"0x960b236a07cf122663c4303350609a66a7b288c0","quoteVolume":111.127,"baseVolume":0.64,"last":0.006848999,"percentChange":0.1228,"bid":0.005550002,"ask":0.00679},"ETH_ATS":{"tokenAddr":"0x2daee1aa61d60a252dc80564499a69802853583a","quoteVolume":13940.207,"baseVolume":0.585,"last":0.0000435,"percentChange":0.1154,"bid":0.0000435,"ask":0.000043},"ETH_GOOC":{"tokenAddr":"0xdcb9ff81013c31ff686154b4502ef6bfaa102d2d","quoteVolume":6500,"baseVolume":0.556,"last":0.00007,"percentChange":-0.2857,"bid":0.0000162,"ask":0.000077777},"ETH_LLT":{"tokenAddr":"0x6d5cac36c1ae39f41d52393b7a425d0a610ad9f2","quoteVolume":2556,"baseVolume":0.55,"last":0.000215,"percentChange":0,"bid":0.000217,"ask":0.00099},"ETH_ADST":{"tokenAddr":"0x422866a8f0b032c5cf1dfbdef31a20f4509562b0","quoteVolume":1000,"baseVolume":0.451,"last":0.000451,"percentChange":-0.078,"bid":0.000451,"ask":0.00048},"ETH_ARC":{"tokenAddr":"0xac709fcb44a43c35f0da4e3163b117a17f3770f5","quoteVolume":33.046,"baseVolume":0.439,"last":0.004,"percentChange":-0.6,"bid":0.004,"ask":0.01},"ETH_MTL":{"tokenAddr":"0xf433089366899d83a9f26a773d59ec7ecf30355e","quoteVolume":12.245,"baseVolume":0.42,"last":0.0343,"percentChange":0.0088,"bid":0.023,"ask":0.0343},"ETH_PST":{"tokenAddr":"0xe3fedaecd47aa8eab6b23227b0ee56f092c967a9","quoteVolume":496,"baseVolume":0.407,"last":0.000819999,"percentChange":0.1081,"bid":0.00074,"ask":0.000829999},"ETH_NET":{"tokenAddr":"0xcfb98637bcae43c13323eaa1731ced2b716962fd","quoteVolume":117.313,"baseVolume":0.387,"last":0.00330001,"percentChange":-0.175,"bid":0.00330001,"ask":0.00379},"ETH_MTP":{"tokenAddr":"0xdab5dfa0966c3435da991b39d205c3ba1c64fe31","quoteVolume":1173391.9,"baseVolume":0.359,"last":2.21e-7,"percentChange":0,"bid":8e-9,"ask":0.00000999},"ETH_ETBS":{"tokenAddr":"0x1b9743f556d65e757c4c650b4555baf354cb8bd3","quoteVolume":92.379,"baseVolume":0.332,"last":0.00484,"percentChange":-0.051,"bid":0.00251001,"ask":0.00465},"ETH_CTC":{"tokenAddr":"0x52514e3acaeb06cab050a69b025083082ebe5b54","quoteVolume":159.969,"baseVolume":0.305,"last":0.004,"percentChange":0,"bid":0.0000654,"ask":0.004},"ETH_DDF":{"tokenAddr":"0xcc4ef9eeaf656ac1a2ab886743e98e97e090ed38","quoteVolume":599.146,"baseVolume":0.254,"last":0.000421001,"percentChange":-0.2482,"bid":0.00044,"ask":0.000693},"ETH_TRV":{"tokenAddr":"0x23cb17d7d079518dbff4febb6efcc0de58d8c984","quoteVolume":23.333,"baseVolume":0.21,"last":0.009,"percentChange":1.5,"bid":0.00153,"ask":0.0036},"ETH_DOM":{"tokenAddr":"0x30aee7f259d6d1564ebef457847c672b30f13cbc","quoteVolume":400000,"baseVolume":0.2,"last":5e-7,"percentChange":-0.2256,"bid":3.34e-7,"ask":6.4e-7},"ETH_ICOS":{"tokenAddr":"0x014b50466590340d41307cc54dcee990c8d58aa8","quoteVolume":0.1,"baseVolume":0.2,"last":2,"percentChange":4.8824,"bid":0,"ask":0.47},"ETH_TOV":{"tokenAddr":"0xaa26b73bfdc80b5c7d2cfbfc30930038fb7fa657","quoteVolume":24000,"baseVolume":0.189,"last":0.00000872,"percentChange":-0.0311,"bid":0.000003011,"ask":0.000018798},"ETH_CLD":{"tokenAddr":"0xc3951d77737733174152532e8b0f27e2c4e9f0dc","quoteVolume":3.346,"baseVolume":0.117,"last":0.0349,"percentChange":0,"bid":0.0349,"ask":0.03489},"ETH_YESTERDAY":{"tokenAddr":"0x7268f9c2bc9c9e65b4a16888cb5672531ce8e945","quoteVolume":97.872,"baseVolume":0.109,"last":0.00111,"percentChange":0.4051,"bid":0.0013,"ask":0.00145},"ETH_TGT":{"tokenAddr":"0xac3da587eac229c9896d919abc235ca4fd7f72c1","quoteVolume":679.9,"baseVolume":0.075,"last":0.000110013,"percentChange":-0.2666,"bid":0.00008401,"ask":0.00011},"ETH_SNGLS":{"tokenAddr":"0xaec2e87e0a235266d9c5adc9deb4b2e29b54d009","quoteVolume":110,"baseVolume":0.067,"last":0.000654649,"percentChange":0.4515,"bid":0.00055115,"ask":0.00065},"ETH_URHOC":{"tokenAddr":"0xba54621876dfca50d15705201a5c3b12949b2a79","quoteVolume":64309.042,"baseVolume":0.064,"last":0.000001,"percentChange":0,"bid":0,"ask":0.00000485},"ETH_SND":{"tokenAddr":"0xf333b2ace992ac2bbd8798bf57bc65a06184afba","quoteVolume":20,"baseVolume":0.06,"last":0.003,"percentChange":-0.2284,"bid":0.003,"ask":0.003835},"ETH_BTH":{"tokenAddr":"0xd5b9a2737c9b2ff35ecb23b884eb039303bbbb61","quoteVolume":188.51,"baseVolume":0.057,"last":0.0003,"percentChange":-0.4,"bid":0.000066666,"ask":0.0005},"ETH_BOXIcoin":{"tokenAddr":"0xf8fa1a588cd8cd51c3c4d6dc16d2717f6332e821","quoteVolume":5.75,"baseVolume":0.042,"last":0.007,"percentChange":-0.1026,"bid":0.01,"ask":0.0065},"ETH_WIC":{"tokenAddr":"0x5e4abe6419650ca839ce5bb7db422b881a6064bb","quoteVolume":1000,"baseVolume":0.04,"last":0.00004,"percentChange":-0.4286,"bid":0.00000461,"ask":0.00004},"ETH_TKN":{"tokenAddr":"0xaaaf91d9b90df800df4f55c205fd6989c977e73a","quoteVolume":1.736,"baseVolume":0.012,"last":0.00685,"percentChange":0.161,"bid":0.00591,"ask":0.00685},"ETH_FYN":{"tokenAddr":"0x88fcfbc22c6d3dbaa25af478c578978339bde77a","quoteVolume":3.264,"baseVolume":0.012,"last":0.0036001,"percentChange":-0.4857,"bid":0.0045,"ask":0.00698},"ETH_NDC":{"tokenAddr":"0xa54ddc7b3cce7fc8b1e3fa0256d0db80d2c10970","quoteVolume":162,"baseVolume":0.011,"last":0.000065522,"percentChange":0,"bid":0.00007,"ask":0.000595},"ETH_WOLK":{"tokenAddr":"0x728781e75735dc0962df3a51d7ef47e798a7107e","quoteVolume":11.978,"baseVolume":0.008,"last":0.00068,"percentChange":0.0751,"bid":0.0006801,"ask":0.00075},"ETH_REP":{"tokenAddr":"0xe94327d07fc17907b4db788e5adf2ed424addff6","quoteVolume":0.1,"baseVolume":0.007,"last":0.073999,"percentChange":0.0091,"bid":0.065002,"ask":0.07399},"ETH_AMIS":{"tokenAddr":"0x949bed886c739f1a3273629b3320db0c5024c719","quoteVolume":0.012,"baseVolume":0.007,"last":0.539,"percentChange":6062.8106,"bid":0.00000117,"ask":0.000088776},"ETH_SHOUC":{"tokenAddr":"0xbc7de10afe530843e71dfb2e3872405191e8d14a","quoteVolume":68544.06,"baseVolume":0.006,"last":9e-8,"percentChange":-0.0816,"bid":9e-8,"ask":9.8e-8},"ETH_DCNT":{"tokenAddr":"0x6678e467fa5ccfbdc264d12f4b8b28fe4661606b","quoteVolume":0.2,"baseVolume":0.004,"last":0.018,"percentChange":0,"bid":8.03e-7,"ask":0.018},"ETH_AUA":{"tokenAddr":"0xb29678a4805a7d787dc9589e179d27f7575bb9f7","quoteVolume":5.999,"baseVolume":0.003,"last":0.00056,"percentChange":0,"bid":0.000259,"ask":0.000539},"ETH_VSMOLD":{"tokenAddr":"0x82665764ea0b58157e1e5e9bab32f68c76ec0cdf","quoteVolume":1,"baseVolume":0.002,"last":0.002,"percentChange":-0.702,"bid":0.003,"ask":0.008499},"ETH_GOOD":{"tokenAddr":"0xae616e72d3d89e847f74e8ace41ca68bbf56af79","quoteVolume":2492.522,"baseVolume":0.002,"last":6.5e-7,"percentChange":0,"bid":6.57e-7,"ask":0.0000047},"ETH_IDEA":{"tokenAddr":"0x814cafd4782d2e728170fda68257983f03321c58","quoteVolume":100,"baseVolume":0.001,"last":0.00001,"percentChange":0,"bid":4e-7,"ask":0.000007569},"ETH_E4ROW":{"tokenAddr":"0xce5c603c78d047ef43032e96b5b785324f753a4f","quoteVolume":1.1,"baseVolume":0.001,"last":0.000474,"percentChange":-0.0021,"bid":0.00005,"ask":0.000473},"ETH_NEWB":{"tokenAddr":"0x814964b1bceaf24e26296d031eadf134a2ca4105","quoteVolume":2,"baseVolume":0,"last":0.000032666,"percentChange":0.1462,"bid":0.0000285,"ask":0.0000285},"ETH_BRAT":{"tokenAddr":"0x9e77d5a1251b6f7d456722a6eac6d2d5980bd891","quoteVolume":20.144,"baseVolume":0,"last":0.0000032,"percentChange":0,"bid":4.53e-7,"ask":0.0000025},"ETH_PLBT":{"tokenAddr":"0x0affa06e7fbe5bc9a764c979aa66e8256a631f02","quoteVolume":0,"baseVolume":0,"last":0.01218,"percentChange":0.0012,"bid":0.012300001,"ask":0.017},"ETH_BET":{"tokenAddr":"0x8aa33a7899fcc8ea5fbe6a608a109c3893a1b8b2","quoteVolume":0,"baseVolume":0,"last":0.00017002,"percentChange":-0.2092,"bid":0.000176,"ask":0.000214999}}'
  recorded_at: Sat, 30 Sep 2017 17:24:38 GMT
recorded_with: VCR 3.0.3
