---
http_interactions:
- request:
    method: get
    uri: https://api.liqui.io/api/3/ticker/ltc_btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ltc_btc":{"high":0.01289814,"low":0.01251,"avg":0.01270407,"vol":20.9550089593946002,"vol_cur":1651.24102707,"last":0.01268752,"buy":0.01268751,"sell":0.01278542,"updated":1506792302}}'
  recorded_at: Sat, 30 Sep 2017 17:25:03 GMT
recorded_with: VCR 3.0.3
