---
http_interactions:
- request:
    method: get
    uri: https://api.korbit.co.kr/v1/ticker/detailed?currency_pair=btc_krw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"timestamp":1506792158249,"last":"4793000","bid":"4793500","ask":"4795000","low":"4620000","high":"4841500","volume":"3783.837773763922788923","change":"116000","changePercent":"2.48"}'
  recorded_at: Sat, 30 Sep 2017 17:24:50 GMT
recorded_with: VCR 3.0.3
