---
http_interactions:
- request:
    method: get
    uri: https://api.coinone.co.kr/ticker?currency=eth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Last-Modified:
      - Sat, 30 Sep 2017 17:24:30 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"result":"success","volume":"49142.5341","last":"335000","yesterday_last":"334150","timestamp":"1506792270","yesterday_low":"324750","high":"339250","currency":"eth","low":"324750","errorCode":"0","yesterday_first":"327600","yesterday_volume":"41401.4014","yesterday_high":"335000","first":"328100"}'
  recorded_at: Sat, 30 Sep 2017 17:24:30 GMT
recorded_with: VCR 3.0.3
