---
http_interactions:
- request:
    method: get
    uri: https://api.quoine.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8dd3fd9a76d9ce8f56214bb5626999ef"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"1","product_type":"CurrencyPair","code":"CASH","name":" CASH
        Trading","market_ask":4305.01411,"market_bid":4300.79126,"indicator":-1,"currency":"USD","currency_pair_code":"BTCUSD","symbol":"$","btc_minimum_withdraw":0.02,"fiat_minimum_withdraw":15.0,"pusher_channel":"product_cash_btcusd_1","taker_fee":0.0,"maker_fee":0.0,"low_market_bid":"4108.91936","high_market_ask":"4339.68864","volume_24h":"1069.90593004","last_price_24h":"4167.82709","last_traded_price":"4302.57532","last_traded_quantity":"0.5","quoted_currency":"USD","base_currency":"BTC"},{"id":"3","product_type":"CurrencyPair","code":"CASH","name":"
        CASH Trading","market_ask":3643.32122,"market_bid":3640.71467,"indicator":1,"currency":"EUR","currency_pair_code":"BTCEUR","symbol":"€","btc_minimum_withdraw":0.02,"fiat_minimum_withdraw":15.0,"pusher_channel":"product_cash_btceur_3","taker_fee":0.0,"maker_fee":0.0,"low_market_bid":"3477.73276","high_market_ask":"3672.46402","volume_24h":"1017.956498","last_price_24h":"3532.52209","last_traded_price":"3631.53793","last[...]
