---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/ticker?product_code=BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"product_code":"BTC_JPY","timestamp":"2017-09-30T17:24:04.36","tick_id":3278443,"best_bid":483392.0,"best_ask":483795.0,"best_bid_size":0.5,"best_ask_size":0.7099,"total_bid_depth":4588.04285154,"total_ask_depth":2412.55541108,"ltp":483795.0,"volume":126072.27197572,"volume_by_product":16313.55551705}'
  recorded_at: Sat, 30 Sep 2017 17:24:05 GMT
recorded_with: VCR 3.0.3
