---
http_interactions:
- request:
    method: get
    uri: https://api.quadrigacx.com/v2/ticker?book=BTC_USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"high":"4397.99","last":"4397.99","timestamp":"1506792350","volume":"9.18739180","vwap":"4293.01074719","low":"4206.05","ask":"4398.00","bid":"4397.99"}'
  recorded_at: Sat, 30 Sep 2017 17:25:51 GMT
recorded_with: VCR 3.0.3
