---
http_interactions:
- request:
    method: get
    uri: https://be.huobi.com/market/detail/merged?symbol=ethcny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","ch":"market.ethcny.detail.merged","ts":1506792289050,"tick":{"amount":10543.9875,"open":1730.5800,"close":1773.0000,"high":1800.0000,"ts":1506792253000,"id":1506792253,"count":5981,"low":1710.0600,"ask":[1779.6100,2.1900],"vol":18588301.11343900,"bid":[1773.0000,2.3270]}}'
  recorded_at: Sat, 30 Sep 2017 17:24:49 GMT
recorded_with: VCR 3.0.3
