---
http_interactions:
- request:
    method: get
    uri: https://api.gdax.com/products/btc-usd/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e-Kg3I/16fSapXNYZ5U0Lt0T+j/wc"
    body:
      encoding: UTF-8
      string: '{"trade_id":21481772,"price":"4307.50000000","size":"0.33200000","bid":"4307.5","ask":"4307.51","volume":"6971.80631530","time":"2017-09-30T17:22:44.423000Z"}'
  recorded_at: Sat, 30 Sep 2017 17:22:45 GMT
recorded_with: VCR 3.0.3
