---
http_interactions:
- request:
    method: get
    uri: https://poloniex.com/public?command=returnTicker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"BTC_BCN":{"id":7,"last":"0.00000032","lowestAsk":"0.00000033","highestBid":"0.00000032","percentChange":"0.00000000","baseVolume":"26.12786091","quoteVolume":"79850462.85265049","isFrozen":"0","high24hr":"0.00000034","low24hr":"0.00000032"},"BTC_BELA":{"id":8,"last":"0.00003367","lowestAsk":"0.00003365","highestBid":"0.00003351","percentChange":"-0.00414078","baseVolume":"13.86579758","quoteVolume":"398401.54557386","isFrozen":"0","high24hr":"0.00003676","low24hr":"0.00003333"},"BTC_BLK":{"id":10,"last":"0.00005560","lowestAsk":"0.00005617","highestBid":"0.00005561","percentChange":"0.17423442","baseVolume":"177.27219948","quoteVolume":"3304937.68288568","isFrozen":"0","high24hr":"0.00005817","low24hr":"0.00004666"},"BTC_BTCD":{"id":12,"last":"0.02632000","lowestAsk":"0.02632000","highestBid":"0.02631008","percentChange":"0.19848986","baseVolume":"163.37978891","quoteVolume":"5738.07652778","isFrozen":"0","high24hr":"0.03400254","low24hr":"0.02189934"},"BTC_BTM":{"id":13,"last":"0.00013013","lowestAsk":"0.00013013","highestBid":"0.00013012","percentChange":"-0.06050104","baseVolume":"3.68381028","quoteVolume":"28004.69927498","isFrozen":"0","high24hr":"0.00013850","low24hr":"0.00012499"},"BTC_BTS":{"id":14,"last":"0.00001995","lowestAsk":"0.00002004","highestBid":"0.00001995","percentChange":"-0.00250000","baseVolume":"276.61024539","quoteVolume":"13921843.47983854","isFrozen":"0","high24hr":"0.00002029","low24hr":"0.00001953"},"BTC_BURST":{"id":15,"last":"0.00000221","lowestAsk":"0.00000221","highestBid":"0.00000219","percentChange":"-0.02212389","baseVolume":"83.53671000","quoteVolume":"37717346.50170781","isFrozen":"0","high24hr":"0.00000235","low24hr":"0.00000208"},"BTC_CLAM":{"id":20,"last":"0.00211472","lowestAsk":"0.00211472","highestBid":"0.00209961","percentChange":"-0.02591905","baseVolume":"33.67377696","quoteVolume":"15731.16876682","isFrozen":"0","high24hr":"0.00218818","low24hr":"0.00208506"},"BTC_DASH":{"id":24,"last":"0.07694000","lowestAsk":"0.07698999","highestBid":"0.07694000","percentChange":"-0.01169447","baseVolume":"611.89284985","quoteVolume":"7966.32918756","isFrozen":"0","high24hr":"0.07943601","low24hr":"0.07365000"},"BTC_DGB":{"id":25,"last":"0.00000357","lowestAsk":"0.00000357","highestBid":"0.00000355","percentChange":"0.00280898","baseVolume":"141.47951162","quoteVolume":"39256449.69784212","isFrozen":"0","high24hr":"0.00000367","low24hr":"0.00000352"},"BTC_DOGE":{"id":27,"last":"0.00000027","lowestAsk":"0.00000027","highestBid":"0.00000026","percentChange":"0.03846153","baseVolume":"224.53327556","quoteVolume":"861690041.66193295","isFrozen":"0","high24hr":"0.00000027","low24hr":"0.00000025"},"BTC_EMC2":{"id":28,"last":"0.00003189","lowestAsk":"0.00003189","highestBid":"0.00003168","percentChange":"0.04970375","baseVolume":"178.33759070","quoteVolume":"5885333.73848830","isFrozen":"0","high24hr":"0.00003199","low24hr":"0.00002781"},"BTC_FLDC":{"id":31,"last":"0.00000274","lowestAsk":"0.00000274","highestBid":"0.00000273","percentChange":"-0.06802721","baseVolume":"42.32691607","quoteVolume":"14930799.29030138","isFrozen":"0","high24hr":"0.00000299","low24hr":"0.00000266"},"BTC_FLO":{"id":32,"last":"0.00001850","lowestAsk":"0.00001850","highestBid":"0.00001848","percentChange":"-0.07500000","baseVolume":"17.49385659","quoteVolume":"913900.76433792","isFrozen":"0","high24hr":"0.00002067","low24hr":"0.00001836"},"BTC_GAME":{"id":38,"last":"0.00053872","lowestAsk":"0.00054250","highestBid":"0.00053896","percentChange":"-0.05982547","baseVolume":"58.25977369","quoteVolume":"105407.94538555","isFrozen":"0","high24hr":"0.00057305","low24hr":"0.00053500"},"BTC_GRC":{"id":40,"last":"0.00000859","lowestAsk":"0.00000873","highestBid":"0.00000863","percentChange":"0.00467836","baseVolume":"16.57669365","quoteVolume":"1893176.22435094","isFrozen":"0","high24hr":"0.00000920","low24hr":"0.00000824"},"BTC_HUC":{"id":43,"last":"0.00002620","lowestAsk":"0.00002639","highestBid":"0.00002620","percentChange":"-0.00304414","baseVolume":"3.88550189","quoteVolume":"148068.27113809","isFrozen":"0","high24hr":"0.00002661","low24hr":"0.00002620"},"BTC_LTC":{"id":50,"last":"0.01278677","lowestAsk":"0.01280531","highestBid":"0.01276487","percentChange":"-0.00224181","baseVolume":"831.97729660","quoteVolume":"65060.26430105","isFrozen":"0","high24hr":"0.01295533","low24hr":"0.01265424"},"BTC_MAID":{"id":51,"last":"0.00011291","lowestAsk":"0.00011290","highestBid":"0.00011259","percentChange":"-0.02998281","baseVolume":"81.34530418","quoteVolume":"709554.73467602","isFrozen":"0","high24hr":"0.00011973","low24hr":"0.00011011"},"BTC_OMNI":{"id":58,"last":"0.00614180","lowestAsk":"0.00614181","highestBid":"0.00614180","percentChange":"0.01670112","baseVolume":"120.19821133","quoteVolume":"19099.93689817","isFrozen":"0","high24hr":"0.00654524","low24hr":"0.00601929"},"BTC_NAUT":{"id":60,"last":"0.00003320","lowestAsk":"0.00003323","highestBid":"0.00003289","percentChange":"0.02185287","baseVolume":"2.40799499","quoteVolume":"73140.40387683","isFrozen":"0","high24hr":"0.00003404","low24hr":"0.00003208"},"BTC_NAV":{"id":61,"last":"0.00022086","lowestAsk":"0.00022233","highestBid":"0.00022086","percentChange":"-0.02927215","baseVolume":"35.77374439","quoteVolume":"160863.78494729","isFrozen":"0","high24hr":"0.00022858","low24hr":"0.00021910"},"BTC_NEOS":{"id":63,"last":"0.00067452","lowestAsk":"0.00067497","highestBid":"0.00067452","percentChange":"-0.05455259","baseVolume":"10.31761806","quoteVolume":"15081.79929230","isFrozen":"0","high24hr":"0.00071405","low24hr":"0.00066018"},"BTC_NMC":{"id":64,"last":"0.00031303","lowestAsk":"0.00031211","highestBid":"0.00031033","percentChange":"-0.02692032","baseVolume":"5.59938170","quoteVolume":"17806.67183890","isFrozen":"0","high24hr":"0.00032672","low24hr":"0.00030501"},"BTC_NOTE":{"id":66,"last":"0.00001226","lowestAsk":"0.00001228","highestBid":"0.00001227","percentChange":"-0.00969305","baseVolume":"3.63173200","quoteVolume":"294368.56430406","isFrozen":"0","high24hr":"0.00001268","low24hr":"0.00001221"},"BTC_NXT":{"id":69,"last":"0.00001729","lowestAsk":"0.00001730","highestBid":"0.00001729","percentChange":"0.02672209","baseVolume":"85.45941780","quoteVolume":"5083978.28810792","isFrozen":"0","high24hr":"0.00001745","low24hr":"0.00001642"},"BTC_PINK":{"id":73,"last":"0.00000596","lowestAsk":"0.00000600","highestBid":"0.00000592","percentChange":"-0.02134646","baseVolume":"18.82864690","quoteVolume":"3055734.94526879","isFrozen":"0","high24hr":"0.00000637","low24hr":"0.00000585"},"BTC_POT":{"id":74,"last":"0.00001896","lowestAsk":"0.00001896","highestBid":"0.00001881","percentChange":"0.01771336","baseVolume":"5.56087398","quoteVolume":"296305.84385777","isFrozen":"0","high24hr":"0.00001909","low24hr":"0.00001854"},"BTC_PPC":{"id":75,"last":"0.00030163","lowestAsk":"0.00030163","highestBid":"0.00030079","percentChange":"-0.00883937","baseVolume":"7.29076682","quoteVolume":"24259.45215904","isFrozen":"0","high24hr":"0.00030485","low24hr":"0.00029750"},"BTC_RIC":{"id":83,"last":"0.00001551","lowestAsk":"0.00001551","highestBid":"0.00001550","percentChange":"0.10000000","baseVolume":"59.87976837","quoteVolume":"3846174.26248459","isFrozen":"0","high24hr":"0.00001700","low24hr":"0.00001388"},"BTC_SJCX":{"id":86,"last":"0.00013398","lowestAsk":"0.00013398","highestBid":"0.00013300","percentChange":"0.02306047","baseVolume":"11.37819183","quoteVolume":"84876.28827951","isFrozen":"0","high24hr":"0.00014015","low24hr":"0.00012977"},"BTC_STR":{"id":89,"last":"0.00000315","lowestAsk":"0.00000316","highestBid":"0.00000315","percentChange":"-0.01869158","baseVolume":"180.27482122","quoteVolume":"56407430.47945158","isFrozen":"0","high24hr":"0.00000331","low24hr":"0.00000310"},"BTC_SYS":{"id":92,"last":"0.00003774","lowestAsk":"0.00003771","highestBid":"0.00003750","percentChange":"-0.03081664","baseVolume":"31.17588795","quoteVolume":"813874.74506967","isFrozen":"0","high24hr":"0.00003960","low24hr":"0.00003685"},"BTC_VIA":{"id":97,"last":"0.00031085","lowestAsk":"0.00031043","highestBid":"0.00030856","percentChange":"0.01924716","baseVolume":"29.44515777","quoteVolume":"97065.56682101","isFrozen":"0","high24hr":"0.00031550","low24hr":"0.00029000"},"BTC_XVC":{"id":98,"last":"0.00007505","lowestAsk":"0.00007505","highestBid":"0.00007411","percentChange":"-0.00292281","baseVolume":"9.08108122","quoteVolume":"124757.39877587","isFrozen":"0","high24hr":"0.00007812","low24hr":"0.00006994"},"BTC_VRC":{"id":99,"last":"0.00008314","lowestAsk":"0.00008314","highestBid":"0.00008179","percentChange":"-0.00858573","baseVolume":"4.23218632","quoteVolume":"51617.84234214","isFrozen":"0","high24hr":"0.00008397","low24hr":"0.00008114"},"BTC_VTC":{"id":100,"last":"0.00024626","lowestAsk":"0.00024626","highestBid":"0.00024481","percentChange":"0.06809507","baseVolume":"50.83375316","quoteVolume":"205320.88522253","isFrozen":"0","high24hr":"0.00025520","low24hr":"0.00023089"},"BTC_XBC":{"id":104,"last":"0.01656697","lowestAsk":"0.01656584","highestBid":"0.01655441","percentChange":"0.03949941","baseVolume":"24.13790918","quoteVolume":"1452.13723044","isFrozen":"0","high24hr":"0.01797000","low24hr":"0.01567258"},"BTC_XCP":{"id":108,"last":"0.00242417","lowestAsk":"0.00242406","highestBid":"0.00240001","percentChange":"0.05136311","baseVolume":"12.02054288","quoteVolume":"4957.75829855","isFrozen":"0","high24hr":"0.00252000","low24hr":"0.00229578"},"BTC_XEM":{"id":112,"last":"0.00005491","lowestAsk":"0.00005491","highestBid":"0.00005485","percentChange":"0.00273922","baseVolume":"336.60099295","quoteVolume":"6088895.02360664","isFrozen":"0","high24hr":"0.00005739","low24hr":"0.00005341"},"BTC_XMR":{"id":114,"last":"0.02216231","lowestAsk":"0.02222467","highestBid":"0.02215386","percentChange":"-0.03677225","baseVolume":"714.79619259","quoteVolume":"32067.45551081","isFrozen":"0","high24hr":"0.02325364","low24hr":"0.02150000"},"BTC_XPM":{"id":116,"last":"0.00004210","lowestAsk":"0.00004250","highestBid":"0.00004210","percentChange":"0.00381497","baseVolume":"36.70582884","quoteVolume":"882029.27872895","isFrozen":"0","high24hr":"0.00004392","low24hr":"0.00003902"},"BTC_XRP":{"id":117,"last":"0.00004695","lowestAsk":"0.00004696","highestBid":"0.00004695","percentChange":"-0.00760938","baseVolume":"611.55152938","quoteVolume":"12917848.25700175","isFrozen":"0","high24hr":"0.00004801","low24hr":"0.00004675"},"USDT_BTC":{"id":121,"last":"4334.99999980","lowestAsk":"4334.99999980","highestBid":"4329.99920801","percentChange":"0.02635130","baseVolume":"14776762.65247687","quoteVolume":"3457.52886548","isFrozen":"0","high24hr":"4377.89999998","low24hr":"4138.89999999"},"USDT_DASH":{"id":122,"last":"332.95680870","lowestAsk":"332.95680867","highestBid":"331.00000001","percentChange":"0.01210834","baseVolume":"853249.46829396","quoteVolume":"2575.46613979","isFrozen":"0","high24hr":"335.01813603","low24hr":"325.97606989"},"USDT_LTC":{"id":123,"last":"55.40000001","lowestAsk":"55.53663997","highestBid":"55.40000001","percentChange":"0.02327299","baseVolume":"2336035.49423832","quoteVolume":"42596.85874547","isFrozen":"0","high24hr":"56.00000000","low24hr":"52.44466666"},"USDT_NXT":{"id":124,"last":"0.07451755","lowestAsk":"0.07453990","highestBid":"0.07451757","percentChange":"0.04576436","baseVolume":"278944.77639383","quoteVolume":"3852366.61250874","isFrozen":"0","high24hr":"0.07600000","low24hr":"0.06846727"},"USDT_STR":{"id":125,"last":"0.01370000","lowestAsk":"0.01384285","highestBid":"0.01370000","percentChange":"0.01406515","baseVolume":"193008.74543523","quoteVolume":"14084856.84076968","isFrozen":"0","high24hr":"0.01411293","low24hr":"0.01304502"},"USDT_XMR":{"id":126,"last":"95.76249331","lowestAsk":"95.89620000","highestBid":"95.53110000","percentChange":"-0.01140345","baseVolume":"473998.27108907","quoteVolume":"4950.87679986","isFrozen":"0","high24hr":"97.00000000","low24hr":"94.00000002"},"USDT_XRP":{"id":127,"last":"0.20338043","lowestAsk":"0.20338043","highestBid":"0.20307118","percentChange":"0.01850874","baseVolume":"917392.13194396","quoteVolume":"4533204.08906275","isFrozen":"0","high24hr":"0.20650000","low24hr":"0.19576003"},"XMR_BCN":{"id":129,"last":"0.00001460","lowestAsk":"0.00001470","highestBid":"0.00001460","percentChange":"0.02097902","baseVolume":"21.97964348","quoteVolume":"1525065.77496958","isFrozen":"0","high24hr":"0.00001470","low24hr":"0.00001280"},"XMR_BLK":{"id":130,"last":"0.00243907","lowestAsk":"0.00254601","highestBid":"0.00249084","percentChange":"0.21617228","baseVolume":"32.12767022","quoteVolume":"13853.82395263","isFrozen":"0","high24hr":"0.00271844","low24hr":"0.00204041"},"XMR_BTCD":{"id":131,"last":"1.19570435","lowestAsk":"1.20249283","highestBid":"1.17482247","percentChange":"0.22971064","baseVolume":"154.01351103","quoteVolume":"122.43746788","isFrozen":"0","high24hr":"1.50000002","low24hr":"0.95770908"},"XMR_DASH":{"id":132,"last":"3.47455597","lowestAsk":"3.47703619","highestBid":"3.45280341","percentChange":"0.02024781","baseVolume":"63.56669591","quoteVolume":"18.37159230","isFrozen":"0","high24hr":"3.49579433","low24hr":"3.36600000"},"XMR_LTC":{"id":137,"last":"0.57959002","lowestAsk":"0.57927977","highestBid":"0.57658634","percentChange":"0.03831169","baseVolume":"104.68213596","quoteVolume":"183.10780562","isFrozen":"0","high24hr":"0.58525000","low24hr":"0.55374871"},"XMR_MAID":{"id":138,"last":"0.00515480","lowestAsk":"0.00515475","highestBid":"0.00499175","percentChange":"0.01431708","baseVolume":"4.83112021","quoteVolume":"934.85331606","isFrozen":"0","high24hr":"0.00525014","low24hr":"0.00505405"},"XMR_NXT":{"id":140,"last":"0.00078411","lowestAsk":"0.00078002","highestBid":"0.00077571","percentChange":"0.06377696","baseVolume":"13.76239010","quoteVolume":"18415.24650406","isFrozen":"0","high24hr":"0.00078590","low24hr":"0.00071755"},"BTC_ETH":{"id":148,"last":"0.07012000","lowestAsk":"0.07013000","highestBid":"0.07012000","percentChange":"-0.00035469","baseVolume":"2241.21252673","quoteVolume":"31906.02325612","isFrozen":"0","high24hr":"0.07076002","low24hr":"0.06982967"},"USDT_ETH":{"id":149,"last":"304.00000000","lowestAsk":"304.04941997","highestBid":"304.00000003","percentChange":"0.02417249","baseVolume":"4475290.22069165","quoteVolume":"14881.73861984","isFrozen":"0","high24hr":"307.59992996","low24hr":"290.15644361"},"BTC_SC":{"id":150,"last":"0.00000115","lowestAsk":"0.00000116","highestBid":"0.00000115","percentChange":"-0.02542372","baseVolume":"99.21476829","quoteVolume":"84788205.44224840","isFrozen":"0","high24hr":"0.00000121","low24hr":"0.00000113"},"BTC_BCY":{"id":151,"last":"0.00008523","lowestAsk":"0.00008524","highestBid":"0.00008523","percentChange":"-0.06299472","baseVolume":"32.92254814","quoteVolume":"390801.01620293","isFrozen":"0","high24hr":"0.00009451","low24hr":"0.00007938"},"BTC_EXP":{"id":153,"last":"0.00054231","lowestAsk":"0.00054231","highestBid":"0.00054167","percentChange":"-0.01528879","baseVolume":"9.55003215","quoteVolume":"17419.96188683","isFrozen":"0","high24hr":"0.00056516","low24hr":"0.00053998"},"BTC_FCT":{"id":155,"last":"0.00426515","lowestAsk":"0.00426716","highestBid":"0.00426515","percentChange":"-0.01258704","baseVolume":"66.37851642","quoteVolume":"15179.52597283","isFrozen":"0","high24hr":"0.00450285","low24hr":"0.00426514"},"BTC_RADS":{"id":158,"last":"0.00115493","lowestAsk":"0.00115493","highestBid":"0.00114457","percentChange":"0.00003463","baseVolume":"5.19824910","quoteVolume":"4579.26176954","isFrozen":"0","high24hr":"0.00117001","low24hr":"0.00112121"},"BTC_AMP":{"id":160,"last":"0.00003827","lowestAsk":"0.00003827","highestBid":"0.00003801","percentChange":"0.01377483","baseVolume":"18.27810565","quoteVolume":"484801.52942977","isFrozen":"0","high24hr":"0.00003988","low24hr":"0.00003586"},"BTC_DCR":{"id":162,"last":"0.00803234","lowestAsk":"0.00803234","highestBid":"0.00800013","percentChange":"0.00404250","baseVolume":"67.55642825","quoteVolume":"8424.66981697","isFrozen":"0","high24hr":"0.00835945","low24hr":"0.00782823"},"BTC_LSK":{"id":163,"last":"0.00138112","lowestAsk":"0.00138111","highestBid":"0.00137643","percentChange":"0.00975303","baseVolume":"244.54562765","quoteVolume":"173898.80478293","isFrozen":"0","high24hr":"0.00145962","low24hr":"0.00134251"},"ETH_LSK":{"id":166,"last":"0.01975020","lowestAsk":"0.01976232","highestBid":"0.01966788","percentChange":"0.00619811","baseVolume":"132.87762500","quoteVolume":"6669.95666642","isFrozen":"0","high24hr":"0.02080799","low24hr":"0.01910294"},"BTC_LBC":{"id":167,"last":"0.00005382","lowestAsk":"0.00005390","highestBid":"0.00005382","percentChange":"-0.03427238","baseVolume":"13.56502336","quoteVolume":"247267.69834197","isFrozen":"0","high24hr":"0.00005626","low24hr":"0.00005382"},"BTC_STEEM":{"id":168,"last":"0.00035900","lowestAsk":"0.00035899","highestBid":"0.00035668","percentChange":"0.01573110","baseVolume":"694.66249916","quoteVolume":"1882872.34421470","isFrozen":"0","high24hr":"0.00039899","low24hr":"0.00032501"},"ETH_STEEM":{"id":169,"last":"0.00505512","lowestAsk":"0.00505512","highestBid":"0.00500194","percentChange":"-0.01318455","baseVolume":"407.86738749","quoteVolume":"76304.99457115","isFrozen":"0","high24hr":"0.00565000","low24hr":"0.00441001"},"BTC_SBD":{"id":170,"last":"0.00024142","lowestAsk":"0.00024142","highestBid":"0.00023832","percentChange":"-0.04915320","baseVolume":"7.47462767","quoteVolume":"30575.62805119","isFrozen":"0","high24hr":"0.00025606","low24hr":"0.00023001"},"BTC_ETC":{"id":171,"last":"0.00307949","lowestAsk":"0.00307950","highestBid":"0.00307604","percentChange":"-0.00066525","baseVolume":"595.90359573","quoteVolume":"192296.20607988","isFrozen":"0","high24hr":"0.00319616","low24hr":"0.00304272"},"ETH_ETC":{"id":172,"last":"0.04394571","lowestAsk":"0.04397569","highestBid":"0.04386200","percentChange":"-0.00129787","baseVolume":"342.97182121","quoteVolume":"7775.42358524","isFrozen":"0","high24hr":"0.04470000","low24hr":"0.04332351"},"USDT_ETC":{"id":173,"last":"13.31000043","lowestAsk":"13.31000043","highestBid":"13.28500024","percentChange":"0.02677926","baseVolume":"1603769.06475314","quoteVolume":"121029.18916020","isFrozen":"0","high24hr":"13.59000000","low24hr":"12.65200000"},"BTC_REP":{"id":174,"last":"0.00497643","lowestAsk":"0.00497644","highestBid":"0.00497643","percentChange":"0.00171903","baseVolume":"56.32136907","quoteVolume":"11469.19450077","isFrozen":"0","high24hr":"0.00499657","low24hr":"0.00482825"},"USDT_REP":{"id":175,"last":"21.50000000","lowestAsk":"21.55952432","highestBid":"21.50000000","percentChange":"0.03272313","baseVolume":"76108.27472177","quoteVolume":"3642.36800373","isFrozen":"0","high24hr":"21.76980000","low24hr":"20.21000006"},"ETH_REP":{"id":176,"last":"0.07047658","lowestAsk":"0.07074021","highestBid":"0.07044284","percentChange":"0.00073681","baseVolume":"13.55515453","quoteVolume":"194.95522019","isFrozen":"0","high24hr":"0.07093741","low24hr":"0.06861708"},"BTC_ARDR":{"id":177,"last":"0.00004820","lowestAsk":"0.00004836","highestBid":"0.00004820","percentChange":"0.12093023","baseVolume":"187.72331122","quoteVolume":"4088201.38391148","isFrozen":"0","high24hr":"0.00004976","low24hr":"0.00004230"},"BTC_ZEC":{"id":178,"last":"0.06455846","lowestAsk":"0.06455846","highestBid":"0.06445911","percentChange":"-0.07288029","baseVolume":"901.39100298","quoteVolume":"13400.06129342","isFrozen":"0","high24hr":"0.07023104","low24hr":"0.06445910"},"ETH_ZEC":{"id":179,"last":"0.92439734","lowestAsk":"0.92791891","highestBid":"0.92476865","percentChange":"-0.06626531","baseVolume":"989.90174415","quoteVolume":"1018.02062992","isFrozen":"0","high24hr":"1.00525866","low24hr":"0.92439734"},"USDT_ZEC":{"id":180,"last":"280.00050000","lowestAsk":"280.00050000","highestBid":"280.00040000","percentChange":"-0.04750845","baseVolume":"2324053.84525388","quoteVolume":"8064.19710687","isFrozen":"0","high24hr":"294.53661992","low24hr":"280.00000000"},"XMR_ZEC":{"id":181,"last":"2.92644102","lowestAsk":"2.92644102","highestBid":"2.91587914","percentChange":"-0.03609862","baseVolume":"2260.81703684","quoteVolume":"742.68623883","isFrozen":"0","high24hr":"3.09999202","low24hr":"2.90299630"},"BTC_STRAT":{"id":182,"last":"0.00103713","lowestAsk":"0.00103711","highestBid":"0.00103379","percentChange":"-0.04839982","baseVolume":"361.85880347","quoteVolume":"339728.35350055","isFrozen":"0","high24hr":"0.00113810","low24hr":"0.00101343"},"BTC_NXC":{"id":183,"last":"0.00007303","lowestAsk":"0.00007312","highestBid":"0.00007303","percentChange":"-0.05155844","baseVolume":"30.04676475","quoteVolume":"409919.87810494","isFrozen":"0","high24hr":"0.00007802","low24hr":"0.00007100"},"BTC_PASC":{"id":184,"last":"0.00008947","lowestAsk":"0.00008947","highestBid":"0.00008898","percentChange":"-0.02908301","baseVolume":"4.69725777","quoteVolume":"51871.56632952","isFrozen":"0","high24hr":"0.00009391","low24hr":"0.00008891"},"BTC_GNT":{"id":185,"last":"0.00006094","lowestAsk":"0.00006140","highestBid":"0.00006094","percentChange":"-0.02620645","baseVolume":"49.70133959","quoteVolume":"803114.37965863","isFrozen":"0","high24hr":"0.00006331","low24hr":"0.00006091"},"ETH_GNT":{"id":186,"last":"0.00087250","lowestAsk":"0.00087250","highestBid":"0.00087000","percentChange":"-0.02795262","baseVolume":"243.45841587","quoteVolume":"276424.74963650","isFrozen":"0","high24hr":"0.00089890","low24hr":"0.00087000"},"BTC_GNO":{"id":187,"last":"0.03228741","lowestAsk":"0.03249997","highestBid":"0.03228741","percentChange":"0.02941020","baseVolume":"44.43545336","quoteVolume":"1396.70348611","isFrozen":"0","high24hr":"0.03353866","low24hr":"0.03111100"},"ETH_GNO":{"id":188,"last":"0.46366254","lowestAsk":"0.46366251","highestBid":"0.45228276","percentChange":"0.04061888","baseVolume":"20.33490442","quoteVolume":"44.91498556","isFrozen":"0","high24hr":"0.47874041","low24hr":"0.43488597"},"BTC_BCH":{"id":189,"last":"0.10295933","lowestAsk":"0.10332821","highestBid":"0.10300079","percentChange":"-0.02327395","baseVolume":"549.68792755","quoteVolume":"5274.82981515","isFrozen":"0","high24hr":"0.10662000","low24hr":"0.10235269"},"ETH_BCH":{"id":190,"last":"1.46000724","lowestAsk":"1.47999967","highestBid":"1.46210025","percentChange":"-0.03050672","baseVolume":"324.53104613","quoteVolume":"218.19954442","isFrozen":"0","high24hr":"1.51789973","low24hr":"1.46000000"},"USDT_BCH":{"id":191,"last":"444.09000001","lowestAsk":"445.43636154","highestBid":"444.09000017","percentChange":"-0.00651006","baseVolume":"1541288.12177468","quoteVolume":"3450.27969287","isFrozen":"0","high24hr":"454.78899999","low24hr":"438.15800053"},"BTC_ZRX":{"id":192,"last":"0.00005038","lowestAsk":"0.00005035","highestBid":"0.00005005","percentChange":"-0.01370399","baseVolume":"68.57814001","quoteVolume":"1349729.56039504","isFrozen":"0","high24hr":"0.00005298","low24hr":"0.00004923"},"ETH_ZRX":{"id":193,"last":"0.00071483","lowestAsk":"0.00071448","highestBid":"0.00071016","percentChange":"-0.00836500","baseVolume":"529.50423009","quoteVolume":"726264.44917549","isFrozen":"0","high24hr":"0.00075000","low24hr":"0.00070001"},"BTC_CVC":{"id":194,"last":"0.00009294","lowestAsk":"0.00009324","highestBid":"0.00009293","percentChange":"-0.02476390","baseVolume":"50.25407723","quoteVolume":"528855.98462185","isFrozen":"0","high24hr":"0.00009825","low24hr":"0.00009114"},"ETH_CVC":{"id":195,"last":"0.00132856","lowestAsk":"0.00133669","highestBid":"0.00133152","percentChange":"-0.02300270","baseVolume":"34.50620682","quoteVolume":"25348.26691307","isFrozen":"0","high24hr":"0.00138492","low24hr":"0.00131678"},"BTC_OMG":{"id":196,"last":"0.00236162","lowestAsk":"0.00236155","highestBid":"0.00236035","percentChange":"-0.01456689","baseVolume":"163.70094898","quoteVolume":"69700.71542139","isFrozen":"0","high24hr":"0.00239718","low24hr":"0.00228430"},"ETH_OMG":{"id":197,"last":"0.03350000","lowestAsk":"0.03350000","highestBid":"0.03333694","percentChange":"-0.01281687","baseVolume":"367.02112831","quoteVolume":"10934.09042773","isFrozen":"0","high24hr":"0.03406910","low24hr":"0.03270708"},"BTC_GAS":{"id":198,"last":"0.00615346","lowestAsk":"0.00615346","highestBid":"0.00614916","percentChange":"0.15623074","baseVolume":"180.11075798","quoteVolume":"30101.84908956","isFrozen":"0","high24hr":"0.00645000","low24hr":"0.00528238"},"ETH_GAS":{"id":199,"last":"0.08943498","lowestAsk":"0.08876288","highestBid":"0.08761974","percentChange":"0.17084112","baseVolume":"201.61719308","quoteVolume":"2424.06609923","isFrozen":"0","high24hr":"0.09127302","low24hr":"0.07352184"}}'
  recorded_at: Sat, 30 Sep 2017 17:25:47 GMT
recorded_with: VCR 3.0.3
