---
http_interactions:
- request:
    method: get
    uri: https://api.bitfinex.com/v1/pubticker/OMGETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d3656d002a9079aff29ebe3a7cf5c09d"
    body:
      encoding: UTF-8
      string: '{"mid":"0.033376","bid":"0.03321","ask":"0.033542","last_price":"0.033503","low":"0.032834","high":"0.034139","volume":"51787.60669046","timestamp":"1506792242.851131488"}'
  recorded_at: Sat, 30 Sep 2017 17:24:03 GMT
recorded_with: VCR 3.0.3
