---
http_interactions:
- request:
    method: get
    uri: https://api.livecoin.net/exchange/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"cur":"USD","symbol":"USD/RUR","last":56.00000000,"high":57.93999000,"low":56.00000000,"volume":784.47411310,"vwap":56.64914895,"max_bid":57.94000000,"min_ask":56.00000000,"best_bid":56.41000000,"best_ask":57.83979000},{"cur":"EUR","symbol":"EUR/USD","last":1.18500000,"high":1.20990000,"low":1.17500000,"volume":1875.01125000,"vwap":1.18654529,"max_bid":1.20990000,"min_ask":1.17500000,"best_bid":1.17300000,"best_ask":1.20799000},{"cur":"BTC","symbol":"BTC/USD","last":4341.95900000,"high":4377.00000000,"low":4136.00000000,"volume":592.59197354,"vwap":4233.15738491,"max_bid":4377.00000000,"min_ask":4040.00000000,"best_bid":4335.05000000,"best_ask":4340.00000000},{"cur":"BTC","symbol":"BTC/EUR","last"[...]
