---
http_interactions:
- request:
    method: get
    uri: https://data.bter.com/api2/1/ticker/BTC_CNY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"true","last":24801,"lowestAsk":25295.78,"highestBid":24801.21,"percentChange":3.9874213836478,"baseVolume":2861489.34,"quoteVolume":118.0101,"high24hr":25500.01,"low24hr":23381}'
  recorded_at: Sat, 30 Sep 2017 17:24:13 GMT
recorded_with: VCR 3.0.3
