---
http_interactions:
- request:
    method: get
    uri: https://bitbay.net/API/Public/btcusd/ticker.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"max":4445,"min":4100.09,"last":4300.55,"bid":4252.75,"ask":4394.88,"vwap":4300.55,"average":4300.55,"volume":10.7996903}'
  recorded_at: Sat, 30 Sep 2017 17:23:58 GMT
recorded_with: VCR 3.0.3
