---
http_interactions:
- request:
    method: get
    uri: https://api.gatecoin.com/Public/LiveTickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tickers":[{"currencyPair":"BTCEUR","open":3529.7,"last":3629.9,"lastQ":0.02745288,"high":3644.6,"low":3519.4,"volume":14.42381890,"volumn":14.42381890,"bid":3598.3,"bidQ":0.1,"ask":3629.9,"askQ":0.066,"vwap":3569.0449702098658490505590028,"createDateTime":"1506792278"},{"currencyPair":"BTCHKD","open":33610.0,"last":34469,"lastQ":0.37,"high":35900.0,"low":33001.0,"volume":1318.00178326,"volumn":1318.00178326,"bid":34363,"bidQ":0.014,"ask":34502,"askQ":0.01,"vwap":33799.801339547604884930282927,"createDateTime":"1506792278"},{"currencyPair":"BTCUSD","open":4264.0,"last":4398.1,"lastQ":0.16,"high":4447.0,"low":4216.6,"volume":1234.96753491,"volumn":1234.96753491,"bid":4389,"bidQ":0.01,"ask":4405.7,"askQ":0.006,"vwap":4305.5779396603450102592624437,"[...]
