---
http_interactions:
- request:
    method: get
    uri: https://bx.in.th/api/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"1":{"pairing_id":1,"primary_currency":"THB","secondary_currency":"BTC","change":2.19,"last_price":140000,"volume_24hours":353.71761664,"orderbook":{"bids":{"total":1014,"volume":1589.82572704,"highbid":140000},"asks":{"total":1386,"volume":260.16832689,"highbid":140850}}},"21":{"pairing_id":21,"primary_currency":"THB","secondary_currency":"ETH","change":2.76,"last_price":9898.99,"volume_24hours":1085.91690507,"orderbook":{"bids":{"total":583,"volume":2949.12522074,"highbid":9880},"asks":{"total":1714,"volume":4508.84975696,"highbid":9898.99}}},"22":{"pairing_id":22,"primary_currency":"THB","secondary_currency":"DAS","change":0.9,"last_price":10675.01,"volume_24hours":29.05254733,"orderbook":{"bids":{"total":[...]
